---
http_interactions:
- request:
    method: get
    uri: https://prescriptiontrails.org/api/filter/?by=city&city=Albuquerque&count=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trails":[{"id":1,"name":"Tingley Field","city":"Albuquerque","zip":87102,"crossstreets":"Coal
        and 10th SW","address":"10 Atlantic Ave SW","transit":"ABQ Ride Stops:  #53,
        #54","lat":"35.0772432","lng":"-106.6555564","desc":"This%20redeveloped%20park%20provides%20a%20catchment%20basin%20in%20monsoon%20season%2C%20and%20the%20new%20recreation%20facilities%20and%20walking%20trail%20are%20great%20for%20the%20whole%20family.","lighting":"On
        trail and parking lot","difficulty":1,"surface":"6-foot+ wide sidewalk, 4-foot
        wide gravel on 2 sides","parking":"On site","facilities":"Restrooms","hours":"6
        a.m. - 10 p.m.","loopcount":1,"satImgURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/1450547549tingleyParkSat.png","largeImgURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/1455036748P1130010.jpg","thumbURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/square_1455036748P1130010.jpg","attractions":["%3Ca%20href%3D%22https%3A%2F%2Fwww.cabq.gov%2Fculturalservices%2Fbiopark%2Fzoo%22%3EZoo%3C%2Fa%3E%20located%20across%2010th%20Street","Tennis%20courts%20across%208th%20street","Shaded%20playgrounds%20and%20picnic%20area","Grassy%20field","Softball%20fields"],"loops":{"1":{"name":"Main
        Loop","distance":"0.6","steps":1267}},"published":"true","rating":3,"ratings":1,"favorites":0,"ModifiedTime":"2019-09-30
        11:55:21","reviews":1,"url":"https:\/\/prescriptiontrails.org\/trail\/1\/tingley-field\/"},{"id":2,"name":"Tingley
        Beach","city":"Albuquerque","zip":87104,"crossstreets":"Central Ave. & Tingley
        Dr. SW","address":"1800 Tingley Drive SW","transit":"ABQ Ride Stops:  #66,
        Rapid Ride","lat":"35.086244","lng":"-106.674171","desc":"Tingley%20Beach%20is%20on%20the%20Rio%20Grande%2C%20near%20downtown%20Albuquerque%2C%20next%20to%20the%20BIOPark%20%E2%80%93%20Zoo%20and%20Aquarium%20and%20offers%20fishing%2C%2[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=10%20Atlantic%20Ave%20SW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Mar 2021 18:42:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"10
        Atlantic Ave SW"},"locations":[{"street":"[100 - 198] Atlantic Ave SW","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Magnolia","adminArea5Type":"City","adminArea4":"Camden","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"08049","geocodeQualityCode":"B3AAA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"R","linkId":"rnr625911|i37183010","unknownInput":"","type":"s","latLng":{"lat":39.853659,"lng":-75.035794},"displayLatLng":{"lat":39.853521,"lng":-75.035938},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.853659,-75.035794|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-728008476"}]}]}'
  recorded_at: Tue, 09 Mar 2021 18:42:47 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=1800%20Tingley%20Drive%20SW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Mar 2021 18:42:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=1800%20Mountain%20Rd%20NW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Mar 2021 18:42:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
 [...]
